/* -------------------------------------------------------------- 
   
   Basic WordPress Blog Styles   
     
-------------------------------------------------------------- */   


/* Images
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
    float: none !important;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 3px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 3px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 3px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 0px 0px 0px 0px;
}

a img.alignnone {
    /* margin: 0px 20px 0px 0; */
    margin: 0px;
}

a img.alignleft {
    float:left;
    margin: 0px 20px 0px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0; 
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

/*
.entry-content img {
	margin: 0 0 1.5em 0;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
  	margin-right: 1.5em;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
  	margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	text-align: center;
	margin-bottom: 1.5em;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	margin: 0;
}
.wp-smiley { 
	max-height: 1em;
	margin:0 !important;
}
.gallery dl {
	margin: 0;
}
.gallery-caption {
	margin:-1.5em 0 0 0;
}
*/ 

.wp-smiley,
.wp-smiley * {
	border: 0px !important;
}

.sticky {}

.bypostauthor {}